<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <h1>Please Signup!</h1>

    <p>Please enter the code to access the information.</p>
    <form action="/autho" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="email" placeholder="email" required">
        <input type="password" name="pass" placeholder="pass" required>
        <input type="submit" value="Submit">
    </form>

</body>

</html>